<html>
  <head>
    <title>Local Law 84 Visualized</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1600px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
      width: 400px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      overflow-x: hidden;
      padding-top: 20px;
    }
    .main {
      margin-left: 400px;
      background-color: #E6EAE5;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
    table {
      outline: darkgrey solid 5px;
      align: center;
      width: 100%;
    }
    .tableDivs {
      margin-bottom: 20px;
    }
    td, th {
      margin-top: 5px;
      font-size: 14px;
      text-align: left;
      padding-left: 2px;
    }
    #table-headers {
      font-size: 20px;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav" id="navbar">
        <p style="text-align: left">
          change geo csv to master branch
        <p style="text-align: left">
          New York City has enacted a Greener, Greater Buildings Plan in an attempt to meet aggressive sustainability goals.  One of the regulations enacted, <a href="http://www.nyc.gov/html/gbee/html/plan/ll84.shtml">Local Law 84</a>, requires owners of large buildings to annually measure their energy and water consumption in a process called benchmarking.  This data is then made publicly <a href = "http://www.nyc.gov/html/gbee/html/plan/ll84_scores.shtml">available</a> and provides a massive amount of information about the energy use profile within New York City.
        </p>
        <p style="text-align: left">
          The raw data has been downloaded and manipulated with a python script that converts final cleaned .csv files located at
          this <a href="https://github.com/john-grando/local_law_84_visualized">repository</a>.
        </p>
        <div id="yearTypes" class="tableDivs">
          <table>
            <tr>
              <th colspan="2" id="table-headers">Submittal Year</th>
            </tr>
            <tr>
              <td><input type="checkbox" class="yearCheckbox" value="2016"> 2016</td>
              <td><input type="checkbox" class="yearCheckbox" value="2017" checked="checked"> 2017</td>
            </tr>
          </table>
        </div>
        <div id="plot_selector" class="tableDivs">
          <table>
            <tr>
              <th colspan="2" id="table-headers">Metered Unit</th>
            </tr>
            <tr>
              <td>Metered Type:</td>
              <td>
                <select class="metered_type">
                <option value="euiKbtuSf" selected="selected">EUI KBtu Per SF</option>
                <option value="steamKbtuSf">Steam KBtu Per SF</option>
                <option value="naturalGasKbtuSf">Nat. Gas KBtu Per SF</option>
                <option value="electricityKbtuSf">Elec. KBtu Per SF</option>
                <option value="totalGhgSf">Total GHG mmco2e Per SF</option>
                <option value="directGhgSf">Direct GHG mmco2e Per SF</option>
                <option value="indirectGhgSf">Indirect GHG mmco2e Per SF</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div id="rangeYears" class="tableDivs">
          <table>
            <tr>
              <th colspan="2" id="table-headers">Year Range</th>
            </tr>
            <tr>
              <th>Minimum</th>
              <th>Maximum</th>
            </tr>
            <tr>
              <td><input id="minYearAllowed" type="number" step="1", value="1850"></td>
              <td><input id="maxYearAllowed" type="number" step="1", value="2018"></td>
            </tr>
          </table>
        </div>
        <div id="extremeValues" class="tableDivs">
          <table>
            <tr>
              <th colspan="2" id="table-headers">Extreme Values</th>
            </tr>
            <tr>
              <th>Minimum</th>
              <th>Maximum</th>
            </tr>
            <tr>
              <td><input id="minValueAllowed" type="number" step="1", value="0"></td>
              <td><input id="maxValueAllowed" type="number" step="1", value="10000000"></td>
            </tr>
          </table>
        </div>
        <div id="buildingTypes" class="tableDivs">
          <table>
            <tr>
              <th colspan="2" id="table-headers">Building Type</th>
            </tr>
            <tr>
              <td><input type="checkbox" class="buildingTypeCheckbox" value="Multifamily Housing" checked="checked"> Multifamily Housing</td>
              <td><input type="checkbox" class="buildingTypeCheckbox" value="Office"> Office</td>
            </tr>
            <tr>
              <td><input type="checkbox" class="buildingTypeCheckbox" value="Non-Refrigerated Warehouse"> Non-Refrigerated Warehouse</td>
              <td><input type="checkbox" class="buildingTypeCheckbox" value="Hotel"> Hotel</td>
            <tr>
              <td><input type="checkbox" class="buildingTypeCheckbox" value="Residence Hall/Dormitory"> Residence Hall/Dormitory</td>
              <td><input type="checkbox" class="buildingTypeCheckbox" value="K-12 School"> K-12 School</td>
            </tr>
              <td><input type="checkbox" class="buildingTypeCheckbox" value="Senior Care Community"> Senior Care Community</td>
              <td><input type="checkbox" class="buildingTypeCheckbox" value="Retail Store"> Retail Store</td>
            <tr>
              <td><input type="checkbox" class="buildingTypeCheckbox" value="Self-Storage Facility"> Self-Storage Facility</td>
              <td><input type="checkbox" class="buildingTypeCheckbox" value="College/University"> College/Univserty</td>
            </tr>
              <td><input type="checkbox" class="buildingTypeCheckbox" value="Distribution Center"> Distribution Center</td>
              <td><input type="checkbox" class="buildingTypeCheckbox" value="Hospital (General Medical & Surgical)"> Hospital (General Medical & Surgical)</td>
            <tr>
              <td><input type="checkbox" class="buildingTypeCheckbox" value="Parking"> Parking</td>
              <td><input type="checkbox" class="buildingTypeCheckbox" value="Medical Office"> Medical Office</td>
            </tr>
              <td><input type="checkbox" class="buildingTypeCheckbox" value="Other"> Other</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-sm-9 main">
        <h1>New York City Energy Consumption</h1>
        <h4>As Indicated by Local Law 84</h4>
        <h3 style='font-size: 24px; color: darkgrey'>Consumption By Building Properties</h3>
        <div id="tester" style="width: 99%; height: 500px;"></div>
        <div id="tester1" style="width: 99%; height: 50px; color: darkgrey;"></div>
        <h3 style='font-size: 24px; color: darkgrey'>Consumption By Location</h3>
        <div id="geodiv" style="width: 99%; height: 900px;"></div>
        <footer class="container-fluid" id="footer-text">
          <p>DATA 608 Final Project</p>
          <p>John Grando</p>
        </footer>
      </div>
      </div>
  </div>
  <script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
  </script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script>
    function precisionRound(number, precision) {
      var factor = Math.pow(10, precision);
      return Math.round(number * factor) / factor;
    }

    testerElement = document.getElementById('tester');
    tester1Element = document.getElementById('tester1');

    var scale = 1;
    var new_scale;

    // color ranges from https://gka.github.io/palettes/#colors=lightblue,darkblue|steps=15|bez=1|coL=1
    var colorArray = ['#4682b4','#aca1c0','#ffc0cb','#9da977','#228b22','#976c30','#dc143c','#f59d35','#ffff00','#9fbd61','#008080','#15403f','#000000','#411140','#800080']
    Plotly.d3.csv('https://raw.githubusercontent.com/john-grando/local_law_84_visualized/master/Data/csv/ll84_plot_df.csv', function(err, rows){
      function unpack(rows, key) {
          return rows.map(function(row) { return row[key]; });
      }
      var buildingTypes = unpack(rows, 'first_area_type'),
      streetNumber = unpack(rows, 'street_number'),
      streetName = unpack(rows, 'street_name'),
      yearRecorded = unpack(rows, "year")
      yearBuilt = unpack(rows, 'year_built'),
      grossFloorArea = unpack(rows, 'gross_floor_area'),
      euiKbtuSf = unpack(rows, 'eui_kbtu_sf'),
      steamKbtuSf = unpack(rows, 'steam_kbtu_sf'),
      naturalGasKbtuSf = unpack(rows, 'natural_gas_kbtu_sf'),
      electricityKbtuSf = unpack(rows, 'electricity_kbtu_sf'),
      totalGhgSf = unpack(rows, 'total_ghg_mmco2e_sf'),
      directGhgSf = unpack(rows, 'direct_ghg_mmco2e_sf'),
      indirectGhgSf = unpack(rows, 'indirect_ghg_mmco2e_sf');

      //Format circle color and size
      var color = d3.scaleQuantize()
        .range(['#90ee90', '#87e486', '#7ed97c', '#74ce71', '#6bc468', '#62bb5e', '#59b154', '#50a64a', '#469c40', '#3d9337', '#348a2d', '#298023', '#1f7619', '#126d0e', '#006400']);
      var dotsize = d3.scalePow()
        .exponent(3)
        .range([1,20])
      //get and load Data
      d3.csv("https://raw.githubusercontent.com/john-grando/local_law_84_visualized/interim/Data/csv/ll84_geo_df.csv", function(d) {
        return {
          bbl : +d.bbl,
          first_area_type : d.first_area_type,
          street_number : d.street_number,
          street_name : d.street_name,
          year: d.year,
          year_built: d.year_built,
          gross_floor_area: d.gross_floor_area,
          metered_type: d.metered_type,
          value: +d.value,
          lon : +d.lon,
          lat : +d.lat
        };
      }, function(error, geodata) {
        // Start graphing
        var div = d3.select("body").append("div")
          .attr("class", "tooltip")
          .style("opacity", 0);
        // Width and Height of the whole visualization
        var width = 1400;
        var height = 900;
        // Create SVG
        var svg = d3.select( "#geodiv" )
          .append("center")
          .append( "svg" )
          .attr( "width", width )
          .attr( "height", height );
        // Append empty placeholder g element to the SVG
        // g will contain geometry elements
        var g = svg.append( "g" );
        // Create a unit projection.
        var projection = d3.geoAlbers()
          .scale(1)
          .translate([0, 0]);
        // Create a path generator.
        var geoPath = d3.geoPath()
          .projection(projection);
        d3.json("https://raw.githubusercontent.com/john-grando/local_law_84_visualized/master/Data/manhattan.geojson", function (error, mapData){
          // Compute the bounds of a feature of interest, then derive scale & translate.
          var b = geoPath.bounds(mapData),
          s = .95 / Math.max((b[1][0] - b[0][0]) / width, (b[1][1] - b[0][1]) / height),
          t = [(width - s * (b[1][0] + b[0][0])) / 2, (height - s * (b[1][1] + b[0][1])) / 2];
          // Update the projection to use computed scale & translate.
          projection
            .scale(s)
            .translate(t);
          g.selectAll( "path" )
            .data( mapData.features )
            .enter()
            .append( "path" )
            .attr( "fill", "#ccc" )
            .attr( "stroke", "#333")
            .attr( "d", geoPath );

          var choices;
          var yearChoices;

          var meteredTypeObject = {euiKbtuSf: euiKbtuSf, steamKbtuSf: steamKbtuSf, naturalGasKbtuSf: naturalGasKbtuSf,
          electricityKbtuSf: electricityKbtuSf, totalGhgSf: totalGhgSf, directGhgSf: directGhgSf, indirectGhgSf: indirectGhgSf}

          var d3MeteredTypeObject = {euiKbtuSf: "eui_kbtu_sf", steamKbtuSf: "steam_kbtu_sf", naturalGasKbtuSf: "natural_gas_kbtu_sf",
          electricityKbtuSf: "electricity_kbtu_sf", totalGhgSf: "total_ghg_mmco2e_sf", directGhgSf: "direct_ghg_mmco2e_sf", indirectGhgSf: "indirect_ghg_mmco2e_sf"}

          meteredTypeSelector = document.querySelector('.metered_type');
          meteredTypeSelector.addEventListener('change', updateMeteredType, false);

          //Make checkboxes active
          var el = document.getElementById('buildingTypes');
          var bt = el.getElementsByTagName('input');
          for (var i=0, len=bt.length; i<len; i++) {
            if ( bt[i].type === 'checkbox' ) {
              bt[i].onclick = function() {
                updateMeteredType(meteredTypeSelector.value);
              }
            }
          }
          //Make checkboxes active
          var el2 = document.getElementById('yearTypes');
          var bt2 = el2.getElementsByTagName('input');
          for (var i=0, len=bt2.length; i<len; i++) {
            if ( bt2[i].type === 'checkbox' ) {
              bt2[i].onclick = function() {
                updateMeteredType(meteredTypeSelector.value);
              }
            }
          }
          //Make min year input active
          var minYear = document.getElementById("minYearAllowed")
          minYear.onchange = function() {
            updateMeteredType(meteredTypeSelector.value);
          };
          //Make max yeah input active
          var maxYear = document.getElementById("maxYearAllowed")
          maxYear.onchange = function() {
            updateMeteredType(meteredTypeSelector.value);
          };
          //Make min value input active
          var minInput = document.getElementById("minValueAllowed")
          minInput.onchange = function() {
            updateMeteredType(meteredTypeSelector.value);
          };
          //Make max input value active
          var maxInput = document.getElementById("maxValueAllowed")
          maxInput.onchange = function() {
            updateMeteredType(meteredTypeSelector.value);
          };

          updateMeteredType(meteredTypeSelector.value);
          //Update all charts, subplots nested
          function updateMeteredType(){
            tester1Element.innerHTML = '<p style="font-size: 24px;" id="oldText">Please Select Data For Subplots</p>'
            document.getElementById('tester1').style.height = "50px";
            //Main plot
            valueFormat = []
            valueFormat = meteredTypeObject[meteredTypeSelector.value]
            var data = [];
            var layout = {
              paper_bgcolor: 'rgba(0,0,0,0)',
              plot_bgcolor: 'rgba(0,0,0,0)',
              //title: "Consumption by Building Properties",
              titlefont: {
                size: 24,
                color: "darkgrey"
              },
              //dragmode: 'lasso',
              xaxis: {
                title: "Year",
                titlefont: {
                  size: 18
                },
                zeroline: false,
              },
              yaxis: {
                type: "log",
                title: "Building Gross Floor Area (Log)",
                titlefont: {
                  size: 18
                },
                autorange: "true"
              },
              hovermode: 'closest',
            };
            //Get selected checkboxes
            choices = [];
            d3.selectAll(".buildingTypeCheckbox").each(function(d){
              cb = d3.select(this);
              if(cb.property("checked")){
                choices.push(cb.property("value"));
              }
            });
            //Get selected checkboxes
            yearChoices = [];
            d3.selectAll(".yearCheckbox").each(function(d){
              cbYear = d3.select(this);
              if(cbYear.property("checked")){
                yearChoices.push(cbYear.property("value"));
              }
            });
            //Format values to numbers and get maximum value
            for (i = 0; i < valueFormat.length; i++) {
              valueFormat[i] = +valueFormat[i]
            };
            // set max an min year
            var minYear = document.getElementById('minYearAllowed').value;
            var maxYear = document.getElementById('maxYearAllowed').value;
            //set max and minimum values
            var minAllowed = document.getElementById('minValueAllowed').value;
            var maxAllowed = document.getElementById('maxValueAllowed').value;
            var maxVal = 0;
            for (h=0; h<yearChoices.length; h++) {
              for (i=0; i<choices.length; i++) {
                for (j=0; j<buildingTypes.length; j++) {
                  if (valueFormat[j] > maxVal && yearBuilt[j] > minYear && yearBuilt[j] < maxYear && valueFormat[j] < maxAllowed && yearChoices[h] == yearRecorded[j] && choices[i] == buildingTypes[j]) {
                    maxVal = valueFormat[j]
                  }
                };
              };
            };
            k = 0
            Plotly.newPlot(testerElement, data, layout);
            for (i=0; i<choices.length; i++) {
              var subParsedValueFormat = []
              var subValueFormat = []
              var subGrossFloorArea = []
              var subYearValue = []
              var subTextInfo = []
              var k = 0
              for (h=0; h<yearChoices.length; h++) {
                for (j=0; j<buildingTypes.length; j++) {
                  if(valueFormat[j] > minAllowed && valueFormat[j] < maxAllowed && yearBuilt[j] > minYear && yearBuilt[j] < maxYear && yearChoices[h] == yearRecorded[j] && choices[i] == buildingTypes[j]) {
                    subParsedValueFormat[k] = Math.min(Math.max(valueFormat[j] / maxVal * 20 , 3), 20)
                    subValueFormat[k] = valueFormat[j]
                    subYearValue[k] = yearBuilt[j]
                    subGrossFloorArea[k] = grossFloorArea[j]
                    subTextInfo[k] = streetNumber[j] + " " + streetName[j] + "<br>" + "Value : " + precisionRound(valueFormat[j], 6) + "<br>" + "Year : " + yearRecorded[j] + "<br>" + "Year Built : " + yearBuilt[j] + "<br>" + "Building Type : " + buildingTypes[j]
                    k = k+1
                  }
                };
              };
              Plotly.addTraces(testerElement, {
                x: subYearValue,
                y: subGrossFloorArea,
                mode: 'markers',
                name: choices[i],
                marker: {
                  color: colorArray[i],
                  opacity: 0.75,
                  size: subParsedValueFormat
                },
                hoverinfo: "subYearValue+subGrossFloorArea",
                text: subTextInfo
              });
            };
            //Initial message on load
            tester1Element.innerHTML = '<p style="font-size: 24px;" id="oldText">Please Select Data For Subplots</p>';
            document.getElementById('tester1').style.height = "50px";
            //make subplots on selection
            testerElement.on('plotly_selected', function(eventData) {
              document.getElementById('tester1').style.height = "500px"
              tester1Element.innerHTML = '<p style="font-size: 200%" id="oldText"></p>'
              var oldText = document.getElementById("oldText");
              oldText.parentNode.removeChild(oldText);
              var xPoint = [];
              var yPoint = [];
              var subVals = [];
              for (i=0; i<eventData.points.length; i++) {
                xPoint[i] = eventData.points[i].x
                yPoint[i] = eventData.points[i].y
                myRegExp = /(Value\s?\:\s?)(\d+\.*\d*)/g;
                match = myRegExp.exec(eventData.points[i].text);
                subVals[i] = parseFloat(match[2]);
              };
              var data1 = [{
                type: 'histogram',
                x: xPoint,
                name: 'Year',
                marker: {
                    color: '#4682B4'
                }
              }, {
                type: 'histogram',
                x: yPoint,
                xaxis: 'x2',
                yaxis: 'y2',
                name: 'GFA',
                marker: {
                    color: '#4682B4'
                }
              }, {
                type: 'histogram',
                x: subVals,
                xaxis: 'x3',
                yaxis: 'y3',
                name: 'Value',
                marker: {
                    color: '#4682B4'
                }
              }];
              var layout1 = {
                paper_bgcolor: 'rgba(0,0,0,0)',
                plot_bgcolor: 'rgba(0,0,0,0)',
                title: "Consumption Subplots",
                showlegend: false,
                titlefont: {
                  size: 24,
                  color: "darkgrey"
                },
                xaxis: {
                  zeroline: false,
                  domain: [0,0.31]
                },
                yaxis: {
                  type: "linear",
                  autorange: "true"
                },
                xaxis2: {
                  zeroline: false,
                  type: 'linear',
                  domain: [0.33,0.64]
                },
                yaxis2: {
                  type: "log",
                  anchor: 'x2'
                },
                xaxis3: {
                  zeroline: false,
                  type: 'linear',
                  domain: [0.66,1]
                },
                yaxis3: {
                  type: "linear",
                  anchor: 'x3'
                },
                hovermode: 'closest',
                annotations: [{
                  x: 0.125,
                  y: 1.1,
                  text: "Year",
                  xref: "paper",
                  yref: "paper",
                  showarrow: false,
                  font: {
                    size: 24,
                    color: 'darkgrey'
                  }
                }, {
                  x: 0.5,
                  y: 1.1,
                  text: "Gross Floor Area",
                  xref: "paper",
                  yref: "paper",
                  showarrow: false,
                  font: {
                    size: 24,
                    color: 'darkgrey'
                  }
                }, {
                    x: 0.85,
                    y: 1.1,
                    text: "Value",
                    xref: "paper",
                    yref: "paper",
                    showarrow: false,
                    font: {
                      size: 24,
                      color: 'darkgrey'
                    }
                }]
              };
              Plotly.newPlot(tester1Element, data1, layout1);
            });
            if (new_scale != null) {
              scale = new_scale
            }
            updateGeo(scale);
            //Update based on selection box change
            function updateGeo(scale){
              g.selectAll('circle').remove()
              //filter values
              ll84_e_data_sub = geodata.filter(function(d,i){return d.value < maxAllowed && d.value > minAllowed && d.year_built > minYear && d.year_built < maxYear && choices.includes(d.first_area_type) && yearChoices.includes(d.year) && d.metered_type == d3MeteredTypeObject[meteredTypeSelector.value];});
              //rescale colors
              color.domain(d3.extent(ll84_e_data_sub, function(d,i){return d.value;}));
              dotsize.domain(d3.extent(ll84_e_data_sub, function(d,i){return d.value / Math.pow(scale, 0.5)}));
              // order dots so the biggest ones are on top
              ll84_e_data_sub = ll84_e_data_sub.sort(function(x, y) {return d3.ascending(x.value, y.value)});
              // Circles
              var circles = g.selectAll('circle')
                .data(ll84_e_data_sub)
                .enter()
                .append('circle')
                  .attr('cx',function (d) { return projection([d.lon, d.lat])[0]})
                  .attr('cy',function (d) { return projection([d.lon, d.lat])[1]})
                  .attr("r", function(d) {
                    return Math.min(Math.max(dotsize(d.value / scale), 1), 20)
                  })
                  .attr("fill", function(d) {
                    return color(d.value)
                  })
                  .on("mouseover", function(d) {
                    div.transition()
                      .duration(200)
                      .style("opacity", .9);
                    div.html(d.street_number + " " + d.street_name + "<br/>" + "Value : " + precisionRound(d.value,6) + "<br/>" + "Submittal Year : " + d.year + "<br/>" + "Year Built : " + d.year_built + "<br/>" + "Gross Floor Area : " + d.gross_floor_area + "<br/>" + "Building Type : " + d.first_area_type)
                      .style("left", (d3.event.pageX - 100) + "px")
                      .style("top", (d3.event.pageY - 120) + "px");
                  })
                  .on("mouseout", function(d) {
                    div.transition()
                      .duration(500)
                      .style("opacity", 0);
                  });
              var zoom_handler = d3.zoom()
                .on("zoom", zoom_actions);
                //specify what to do when zoom event listener is triggered
              function zoom_actions(){
                g.attr("transform", d3.event.transform);
                new_scale = d3.event.transform.k
                updateGeo(new_scale);
              }
              //add zoom behaviour to the svg element backing our graph.
              //same thing as svg.call(zoom_handler);
              zoom_handler(svg);
            };
          };
        });
      });
    });
  </script>
  </body>
</html>
