h1, h2, h3, h4{
  text-align: center;
}
body, html {
       width: 100%;
       height: 100%;
       margin: 0;
}
svg {
 position: relative;
 top: 0;
 left: 0;
 overflow: hidden;
}
p {
 text-align: center;
}
#footer-text {
 text-align: center;
 font-size: 20px;
 color: white;
}
div.tooltip {
 position: absolute;
 text-align: left;
 vertical-align: baseline;
 width: 200px;
 height: 100px;
 padding: 2px;
 font: 12px sans-serif;
 background: lightsteelblue;
 border: 0px;
 border-radius: 8px;
 pointer-events: none;
}
.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
#geodiv {
  overflow: hidden;
}
